name: Mirror WordPress Plugins & Themes

on:
  workflow_dispatch: {}
  schedule:
  - cron: '11 * * * *'

jobs:
  download:

    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
    - uses: actions/checkout@v4
    - uses: actions/setup-python@v5
      with:
        python-version: '3.10'
        cache: 'pip'
    - run: pip install -r requirements.txt
    - run: python mirror-targets.py
      env:
        GH_TOKEN: ${{ secrets.WORDPRESS_BUG_BOUNTY_GITHUB_TOKEN }}
